<ion-header [translucent]="true" class="ion-text-center">
  <ion-toolbar class="ion-margin-top">
    <ion-title >
      Huawei Map - JavaScript API Demo
    </ion-title>

    <div class="ion-margin">
      <ion-button (click)="showMap()">Show Map</ion-button>
      <ion-button (click)="addMarker()">Add Marker</ion-button>
      <ion-button (click)="showInformationWindow()">Show Window</ion-button>
    </div>

  </ion-toolbar>
</ion-header>

<ion-content [fullscreen]="true">
  <div id="map"></div>
</ion-content>